<!-- Now the screenshot is only static with one image  -->
<!-- TODO:- To make it automatic slideshow with other screenshots (search and see) javascript is req.
            1.download all the screenshots from sources tab of main instagram page
            2.loop through the array of images every 2 seconds every 4 seconds and display
            3.add fading animation while image switch (the code is in the w3 schools 
            when you search the automatic slideshow)-->
<div class="welcomeImage">
  <div class="screenshot"></div>
</div>
