body {
  margin: 8px;
} /*delete this when building the layout with all the compoenents */

.backgroundLayer {
  position: relative;
  background-color: #fafafa;
  height: 104vh;
  margin: 0px;
  z-index: 0;
}

.loginBox {
  position: absolute;
  top: 0px;
  z-index: -1;
  background-color: white;
  border: 1px solid #e6e6e6;
  width: 350px;
  height: 370px;
}

.switchAuthMethodBox {
  position: absolute;
  top: 0px;
  z-index: -1;
  background-color: white;
  border: 1px solid #e6e6e6;
  width: 350px;
  height: 55px;
}

.signUpBox {
  position: absolute;
  top: 0px;
  z-index: -1;
  background-color: white;
  border: 1px solid #e6e6e6;
  width: 350px;
  height: 525px;
}

button:disabled {
  background-color: #b2dffc;
  color: #fdfbfe;
  cursor: unset;
}

.button {
  background-color: #0095f6;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  height: 30px;
  width: 224px;
}

.buttonContainer {
  display: inline-block;
}

.inputField {
  position: relative;
  border-radius: 4px;
  height: 34px;
  border: 1px solid #e6e6e6;
  width: 221.5px;
  background-color: #fafafa;
}

.iconContainerLogin {
  background: rgb(56, 81, 133);
  background: linear-gradient(
    90deg,
    rgba(56, 81, 133, 1) 40%,
    rgba(255, 255, 255, 1) 40%
  );
  position: relative;

  height: 17px;
  width: 17px;
  overflow: hidden;
  display: inline-block;
  margin-right: 8px;
}

.fbIconLogin {
  position: relative;
  bottom: 3px;
  font-size: 23px;
  color: #385185;
}

.iconContainerSignUp {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 29%,
    rgba(0, 149, 246, 1) 32%
  );
  position: relative;
  height: 17px;
  width: 17px;
  overflow: hidden;
  display: inline-block;
  margin-right: 8px;
}

.fbIconSignUp {
  position: relative;
  bottom: 3px;
  font-size: 23px;
  color: white;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  border: none;
  color: #385185;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  height: 30px;
  width: 224px;
}

.signUpButton {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #0095f6;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  height: 30px;
  width: 224px;
}

input[type="text"] {
  border-radius: 4px;
  height: 32px;
  width: 207.5px;
  padding-left: 7px;
  padding-right: 7px;
  border: none;
  outline: 0;
  background-color: #fafafa;
}

input[type="password"] {
  border-radius: 4px;
  height: 32px;
  width: 165.5px;
  padding-left: 7px;
  padding-right: 7px;
  border: none;
  outline: 0;
  background-color: #fafafa;
}

.nameSpan {
  visibility: hidden;
  position: relative;
  top: -26px;
  right: -9px;
  color: #919396;
  font-size: 16px;
}

.passwordSpan {
  visibility: hidden;
  position: relative;
  top: -29px;
  right: -9px;
  color: #919396;
  font-size: 16px;
}

.inputField button {
  visibility: hidden;
  position: relative;
  top: -13px;
  left: 123px;
  background-color: #fafafa;
}

.inputField:focus-within {
  border: 1px solid #919396;
}

input[type="text"]:valid,
input[type="password"]:valid {
  position: relative;
  top: 13px;
  height: 18px;
}

input[type="password"]:valid ~ button {
  position: relative;
  top: -13px;
  left: 119px;
  border: none;
  visibility: visible;
}

input[type="text"]:valid + .nameSpan,
input[type="password"]:valid + .passwordSpan {
  visibility: visible;
  position: relative;
  top: -22px;
  right: -7px;
  font-size: 13px;
}

@media screen and (max-width: 450px) {
  .loginBox {
    visibility: hidden;
  }
  .switchAuthMethodBox {
    visibility: hidden;
  }
  .signUpBox {
    visibility: hidden;
  }
}
